.app-page {
  overflow-x: hidden;
}

.app-page .toDo-block {
  margin: 8rem 0;
}

.app-page .toDo-block h3 {
  width: 80%;
  margin: 0 auto;
  font-size: 2.5rem;
}

.app-page footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.app-page footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 2rem;
  background: var(--color-blue-gradient);
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-white);
  transition: 2s ease;
}

.app-page footer a:hover {
  background: var(--color-blue-gradient-hover);
}

.app-page .tasks-list {
  display: flex;
  flex-direction: column-reverse;
}


.filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  justify-content: center;
  margin: 1rem 0;
  transform: translateY(-200%);
  width: 90%;
  margin: auto;
}

.filter {
  display: flex;
  min-width: 8rem;
  height: 4.5rem;
  padding: 0 2rem;
  margin: 0 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4rem;
  background: rgba(109, 109, 109, 0.103);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
  outline: none;
}

.filter:hover {
  color: var(--color-white);
  opacity: 0.8;
}

.filters button.all {
  background: #F7FFF7;
  color: var(--color-black);
}

@media (min-width: 501px) {
  .app-page .toDo-block h3 {width: 50%;}
  .app-page .form-create {width: 50%}
  .form-create form input {font-size: 2rem;}

  .app-page footer {
    width: 95%;
    margin: 0 auto;
    justify-content: flex-end;
  }

  .app-page footer a {margin: 0;}
}