.app-page {
  overflow-x: hidden;
}

.app-page .toDo-block {
  margin: 8rem 0;
}

.app-page .toDo-block h3 {
  width: 80%;
  margin: 0 auto;
  font-size: 2.5rem;
}

.app-page footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.app-page footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-right: 2rem;
  background: var(--color-blue-gradient);
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-white);
  transition: 2s ease;
}

.app-page footer a:hover {
  background: var(--color-blue-gradient-hover);
}

.app-page .tasks-list {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 501px) {
  .app-page .toDo-block h3 {width: 50%;}
  .app-page .form-create {width: 50%}
  .form-create form input {font-size: 2rem;}

  .app-page footer {
    width: 95%;
    margin: 0 auto;
    justify-content: flex-end;
  }

  .app-page footer a {margin: 0;}
}