:root {
  font-size: 50%;

  --color-green: #00A650;
  --color-white: #F7FFF7;
  --color-black: #202020;
  --color-blue: #00AEC8;

  --color-border-green: #048844;
  --color-border-grey: #DDD;

  --color-blue-gradient: linear-gradient(143.53deg, #FFFFFF -76.42%, rgba(255, 255, 255, 0) 79.24%), #00AEC8;
  --color-blue-gradient-hover: linear-gradient(143.53deg, #DDD -76.42%, rgba(255, 255, 255, 0) 79.24%), #00AEC8;

  --color-green-hover: #00b95a;
  --color-blue-hover: #05a4bd;
  --color-black-hover: #585858;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
  padding: 0;
  margin: 0;
}

body,
input,
textarea {
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size: 1.6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--color-black);
  transition: 0.2s;
}

a:hover {color: var(--color-black-hover);}

b {color: var(--color-green);}
b:hover {color: var(--color-green-hover);}

ul {
  display: flex;
  list-style: none;
}

.button,
.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 5rem;
  background: var(--color-green);
  border: 1px solid var(--color-border-green);
  box-sizing: border-box;
  border-radius: 4px;
  font: bold 1.8rem Montserrat;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.025em;
  color: var(--color-white);
  outline: none;
  transition: 0.2s;
}

.button:hover {
  background: var(--color-green-hover);
  color: var(--color-white);
}

.secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--color-border-grey);
  background: none;
  font-weight: 500;
  color: var(--color-black);
}
