:root {
  font-size: 50%;

  --color-green: #00A650;
  --color-white: #F7FFF7;
  --color-black: #202020;
  --color-blue: #00AEC8;

  --color-border-green: #048844;
  --color-border-grey: #DDD;

  --color-blue-gradient: linear-gradient(143.53deg, #FFFFFF -76.42%, rgba(255, 255, 255, 0) 79.24%), #00AEC8;
  --color-blue-gradient-hover: linear-gradient(143.53deg, #DDD -76.42%, rgba(255, 255, 255, 0) 79.24%), #00AEC8;

  --color-green-hover: #00b95a;
  --color-blue-hover: #05a4bd;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

* {
  padding: 0;
  margin: 0;
}

body,
input,
textarea {
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size: 1.6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

b {
  color: var(--color-green);
}
