.container {
  width: 100%;
  background: linear-gradient(143.53deg, #FFFFFF -76.42%, rgba(255, 255, 255, 0) 79.24%), #19A952;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
  color: #202020;
}

.container .content {
  width: 90%;
  margin: auto;
}

.container .content .text {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}

.container .content h2 {
  font-size: 3.8rem;
  color: #F7FFF7;
}

.container .content p {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: #F7FFF7;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  justify-content: center;
  margin: 4rem 0;
}

.filter {
  display: flex;
  min-width: 8rem;
  height: 4.5rem;
  padding: 0 1rem;
  margin: 0 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4rem;
  background: rgba(229, 229, 229, 0.);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-white);
}

.filter:hover {
  color: var(--color-white);
  opacity: 0.8;
}

.filters a.all {
  background: #F7FFF7;
  color: #000;
}

@media (min-width: 501px) {
  .container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .content .text {
    display: block;
    text-align: center;
  }

  .container .content p {
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
  }

  .filters {
    width: 90%;
  }
}