.container {
  width: 100%;
  height: 34rem;
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .content {
  width: 80%;
  margin: 0 auto;
}

.container .content h2 {
  font-size: 3.8rem;
  color: #F7FFF7;
  margin-bottom: 1.4rem;
}

.container .content p {
  font-size: 2rem;
  color: #F7FFF7;
}

.filters {
  display: flex;
  max-width: 42rem;
  justify-content: space-between;
  margin-top: 4rem;
}

.filter {
  display: flex;
  width: 13rem;
  height: 4.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4rem;
  background: rgba(229, 229, 229, 0.);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.filters a.all {
  background: #F7FFF7;
  color: #000;
}